HTML {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; OVERFLOW-Y: auto; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
BODY {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto
}
DIV.MainWindow {
	PADDING-TOP: 16px
}
H1 {
	PADDING-BOTTOM: 20px
}
DIV.Overview {
	PADDING-BOTTOM: 8px; PADDING-TOP: 2px
}
DIV.Actions {
	PADDING-BOTTOM: 8px; PADDING-TOP: 2px
}
TD.Overview {
	PADDING-BOTTOM: 8px; PADDING-TOP: 2px
}
IMG.Overview {
	HEIGHT: 16px; WIDTH: 16px; VERTICAL-ALIGN: top
}
TD.ImageOverview {
	VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.LargeIcon IMG {
	HEIGHT: 32px; WIDTH: 32px
}
.DetailHeader {
	MARGIN-BOTTOM: 20px
}
.DetailList {
	MARGIN-BOTTOM: 20px
}
.DetailHeaderGood {
	MARGIN-BOTTOM: 20px
}
.DetailHeaderGood {
	MARGIN-TOP: 20px
}
DIV.SystemTable {
	MARGIN-BOTTOM: 30px
}
DIV.DetailSubHeader {
	PADDING-BOTTOM: 15px
}
.DetailSubList {
	PADDING-BOTTOM: 7px
}
DIV.Works {
	PADDING-BOTTOM: 20px
}
DIV.Program {
	PADDING-BOTTOM: 4px
}
DIV.OrphanFile {
	PADDING-BOTTOM: 4px
}
DIV.Actions {
	PADDING-BOTTOM: 18px
}
TABLE.Actions {
	PADDING-BOTTOM: 20px
}
BUTTON {
	HEIGHT: auto; MIN-HEIGHT: 17px; IE8: 
}
TD.ActionLink {
	VERTICAL-ALIGN: top
}
DIV.ActionLink {
	CURSOR: default; WIDTH: 100%
}
TD.LargeIcon {
	VERTICAL-ALIGN: top; PADDING-BOTTOM: 20px
}
TD.AppInfo {
	VERTICAL-ALIGN: top; PADDING-BOTTOM: 20px
}
TR.Actions {
	PADDING-BOTTOM: 10px
}
TD.Actions {
	VERTICAL-ALIGN: top; PADDING-BOTTOM: 33px
}
IMG.AppInfoIcon {
	VERTICAL-ALIGN: middle
}
DIV.AppInfoLinkTextLtr {
	VERTICAL-ALIGN: middle; PADDING-LEFT: 5px; DISPLAY: inline
}
IMG.AppInfoLinkTextRtl {
	VERTICAL-ALIGN: middle; DISPLAY: inline; PADDING-RIGHT: 5px
}
DIV.AppInfoLink {
	PADDING-TOP: 5px
}
UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV.OrphanFile {
	TEXT-DECORATION: underline
}
